.switch-versions {
    margin-top: 30px;
}

.switch-versions button {
    padding: 5px;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

.selected {
    background-color: blueviolet;
    color: white;
}

.unselected {
    background-color: white;
    color: blueviolet;
}

.unselected:hover {
    cursor: pointer;
    background-color: rgb(223, 194, 250);
}

.version-description {
    width: 100%;
}

text {
    font-size: 12px;
}