.switch-versions {
    margin-top: 30px;
}

.switch-versions button {
    padding: 5px;
    font-size: 20px;
}

.selected {
    background-color: blueviolet;
    color: white;
}

.unselected {
    background-color: white;
    color: blueviolet;
}

.version-description {
    width: 100%;
}

text {
    font-size: 12px;
}